[2017-05-03 05:38] mayankgupta804 opened #1 "Tests failing in fragmentation runs"
If the tests are, due to some reason, stopped during a fragmentation run, and then again when the tests are run from the beginning, an error is thrown saying that the tests failed.This could possibly due to failure in the proper shutdown of the Redis server.However, if we do a Gradle run, the error does not occur.In fact, after the Gradle run, if we do a proper test run, the error does not occur a

[2017-05-22 05:22] KrishnB commented on #1
This issue will be resolved as part of Optimus 2.0 As a workaround you can run `optimusSetup` task before executing scenarios form IDE. Also please pass `-DtestFeed=<yourtestfeedname>     -DrunMode=Fragmentation` to your scenario VM options. You can learn more about setting default vm options [here](https://www.jetbrains.com/help/idea/2017.1/creating-and-editing-run-debug-configurations.html)

[2017-07-10 09:39] KrishnB commented on #1
Resolved this issue in Optimus 2.0. Please refer [here](https://github.com/testvagrant/optimusTemplate/wiki/Migrating-to-Optimus-2.0) for migrating to Optimus 2.0

[2017-07-10 09:39] #1 closed

[2017-07-25 16:04] vikramvi opened #2 "Queries: appium driver, server, parallel execution"
Hi,

Please clarify below
- how & which file does creation of android/ios driver,
- launch server how it takes place
- can I pass any additional flags if needed e.g. local time zone etc
- how do you achieve parallel execution.
- where do you specify appium java client version ?
- overview of technical implementation of the framework can be useful for those who want to dig deep and contribute

I tr

[2017-07-26 11:34] sukesh15 commented on #2
Hi Vikram,

The answer to majority of your questions is optimus jar that the template project is dependent on. You would have seen that in the gradle dependencies. Currently the source code for optimus is in a private repo as we are in the process of cleaning it up a little before making it public on github. Should be out in a week or so. Not only optimus, there are a bunch of other related projec

[2017-07-26 13:07] vikramvi commented on #2
Thanks @sukesh15 for detailed info. I will wait for other repos to be public in few days.

As I'm also investing time in doing similar things, would like to put joint efforts instead of working on similar problems separately.

Regards,
Vikram

[2017-07-27 14:57] sampadrout opened #3 "Building is failing"
Hi,
First of all thanks for developing such a beautiful framework for mobile automation. Its always a challenge to put all sorts of technologies to make a stable mobile test automation solution. out of curiosity, i was trying this today and getting the following error. It will be great if you can suggest me the fix for this. Thanks. Sampad.
Here i am running this for android.
gradle runFragmentati

[2017-07-27 16:19] sampadrout commented on #3
Please ignore above comments. I have fixed the monogodb connection issues. Its working great. Thanks

[2017-07-27 16:19] #3 closed

[2017-07-27 16:20] KrishnB commented on #3
@sampadrout looks like MongoDB has failed to start within the expected time.

Please follow below steps for a resolution.

#### Step 1: Open a new terminal and run `mongod` command.
#### Step 2: Check if it throws any error related to this `exception in initAndListen: 29 Data directory /data/db not found., terminating`.
#### Step 3: If you find error as mentioned in step2, please follow this link

[2017-07-27 16:24] sampadrout opened #4 "Issue with iOS"
Here is the issue on iOS:
gradle runFragmentation -DtestFeed=HelloOptimusIOS -Dtags=@helloOptimus

Note: /Users/sampadrout/AMA_New/src/test/java/pages/BasePage.java uses unchecked or unsafe operations.
Note: Recompile with -Xlint:unchecked for details.

Executing MongoMain
MongoClient:1084179762
Running command ---- instruments -s devices | grep 'iPhone'
command output -- Known Devices:
Sampad’s M

[2017-07-27 16:36] KrishnB commented on #4
@sampadrout can you run the same command with `--stacktrace` and please share the output?

[2017-07-27 17:31] sampadrout commented on #4
Here you go:
gradle runFragmentation -DtestFeed=HelloOptimusIOS -Dtags=@helloOptimus --stacktrace

Note: /Users/sampadrout/AMA_New/src/test/java/pages/BasePage.java uses unchecked or unsafe operations.
Note: Recompile with -Xlint:unchecked for details.

Executing MongoMain
MongoClient:2084776737
Running command ---- instruments -s devices | grep 'iPhone'
command output -- Known Devices:
Sampad’s M

[2017-07-28 16:54] KrishnB commented on #4
@sampadrout thanks for the stacktrace. IOS 10.3.1 is currently not supported for the optimus version. We will be releasing a new version early next week. In the meanwhile, you can remove simulators with version 10.3.1 and give it a try.

[2017-08-04 12:31] vikramvi commented on #2
@sukesh15

1. Please let me know by when you are planning to open source **source code for optimus** ?

2. wrt your post https://discuss.appium.io/t/alternative-to-selenium-grid-for-running-appium-tests-in-parallel/18025
2.1 what does you mean by "...these devices, distributed or fragmented"

3. Does optimus framework takes care of below
3.1 assigning test cases to available nodes at run time ?
3.

[2017-08-04 15:50] sukesh15 commented on #2
@vikramvi

We are almost there, all the code should get published latest by mid next week. Will keep the group posted.

With respect to running tests in parallel, we have seen teams asking for either or both of the following ways:

- **Distributed** - where you distribute your test load across devices. e.g. you have 50 tests and you want a faster feedback by distributing them on more than one conn

[2017-08-07 08:48] vikramvi commented on #2
@sukesh15 thanks again for detailed info.
Once source code repo is live, I will submit PR for documentation ( Q&A ) with above clarifications from you.   As it'll be very useful to others as well.

[2017-08-09 13:32] ochubey opened #5 "An error happens on running Template scenario ":fragmentationReport FAILED""
After setting up the solution and successfully running HelloOptimusAndroid test feed I'm constantly getting following error:
[code]
Command executed: `gradle runFragmentation -DtestFeed=HelloOptimusAndroid -Dtags=@helloOptimus`

Commit `3b5fccaef5050d85764899a64286b66b7f460e3e [3b5fcca]`

[2017-08-09 14:38] KrishnB commented on #5
@ochubey can you please upgrade Optimus Gradle version to `2.0` in your project's `build.gradle` file.

[code]

[2017-08-09 15:36] ochubey commented on #5
I resolved an issue, thank you, @KrishnB

[2017-08-09 15:36] #5 closed

[2017-08-10 11:46] KrishnB commented on #4
@sampadrout can you please upgrade your project for below dependencies
  * optimus - 2.1.0
  * optimusgradle - 2.0

The latest version will now support IOS devices with version 10.3 and above.

[2017-08-10 11:51] sukesh15 commented on #2
@vikramvi and everyone else following up on this, thanks a lot for all your patience. We have published all the repos on our testvagrant github page [here](https://github.com/testvagrant/), a total of 8 repositories. We have consciously tried to follow a decentralised approach in terms of the whole structuring of the code.

Also, attaching a diagram to briefly explain how the projects are grouped

[2017-08-11 15:06] ochubey opened #6 "Optimus 2.0 hangs after running tests on first Android"
The latest version of the optimusTemplate with Optimus 2.0 used hangs on provided tests with both distribution and fragmentation execution approaches with 2 Android devices.

All tests are executed on one device, but then gradle script hangs with following message in debug mode:
`17:55:36.574 [DEBUG] [org.mongodb.driver.cluster] Checking status of localhost:27017
17:55:36.575 [DEBUG] [org.mongodb.

[2017-08-11 15:32] ochubey opened #7 "Incorrect version of the device is written into DB"
Incorrect version of the devices is written into the DB.
What I get into the console:
[code]

what is saved into the DB:
[code]

[2017-08-12 15:19] KrishnB commented on #6
@ochubey can you please share your project's TestFeed?

[2017-08-14 11:30] ochubey commented on #6
Sorry, replaced information that cannot disclose with [companyName].
[code]

Anyway, the same issue happens with master branch of the optimusTemplate:
https://gist.github.com/ochubey/c2d56f09acdde724fb87940f86b655d4#file-optimusandroidfragmentation-log

[2017-08-17 15:29] KrishnB commented on #7
@ochubey the issue is resolved in the latest optimus version can you please upgrade your build.gradle for below dependencies.
**OptimusGradle - 2.1
optimus - 2.1.2
StepDefs- 1.0.4**

This should resolve the issue.

[2017-08-17 15:31] KrishnB commented on #6
@ochubey this issue is resolved with the latest optimus version `2.1.2` please update your project dependencies and try again. Lets us know if the issue persists.

[2017-08-18 03:26] #2 closed

[2017-08-18 03:29] #4 closed

[2017-08-22 08:26] ochubey commented on #7
Issue resolved. Thank you for support!

[2017-08-22 08:26] #7 closed

[2017-08-22 12:04] ochubey opened #8 "NullPointerException on ReportParser.getDeviceName"
After successful execution of simple test on real device NullPointerException happens when `distributionReport` tries to parse JSON with `getDeviceName()` method:

Please see gist with stack trace of the error:
https://gist.github.com/ochubey/2f414d91e4ecdadfc5ef76d98a869c85#file-gistfile1-txt

TestFeed configuration file:
https://gist.github.com/ochubey/d1a3f72064bdd19a9197d7bad27dbb0f#file-iphon

[2017-08-22 15:02] KrishnB commented on #8
@ochubey does this issue occur for FragmentationTask as well?

[2017-08-23 05:57] ochubey commented on #6
Issues seemed to be resolved. Thank you!

[2017-08-23 05:57] #6 closed

[2017-08-23 06:21] ochubey commented on #8
Confirmed. The issue is also reproducible with FragmentationTask.
Not sure what can be the reason of this, but cucumber report in JSON doesn't have required field `output` in the last step of the scenario:
https://gist.github.com/ochubey/20436182c8507e548d188ff073499e55#file-startscreen2-feature-json

[2017-08-23 06:44] ochubey commented on #8
Mystery solved :)
While experimenting I've moved `controller.deRegisterSmartBOTs(smartBOTs);` within the `if (scenario.isFailed())` in `@After` method.
Small suggestion - check on `null` when trying to read `output` JSON value with for example following message "make sure to deregister smart bots in tear down method" in order to help someone like ME to not report unneeded issues :).

[2017-08-23 06:44] #8 closed

[2017-08-23 07:17] sukesh15 commented on #8
Sure, we will take care of that.

[2017-08-25 08:18] vikramvi commented on #2
@sukesh15 Thanks a ton for sharing this info, I will go through it and get back in case of any doubts.

[2017-10-19 00:06] asitishere opened #9 "Exception opening socket}, caused by {java.net.ConnectException: Connection refused (Connection refused)}}]"
11:03:09.895 [ERROR] [org.gradle.internal.buildevents.BuildExceptionReporter] > Timed out after 30000 ms while waiting for a server that matches ReadPreferenceServerSelector{readPreference=primary}. Client view of cluster state is {type=UNKNOWN, servers=[{address=localhost:27017, type=UNKNOWN, state=CONNECTING, exception={com.mongodb.MongoSocketOpenException: Exception opening socket}, caused by {

[2017-10-19 00:52] asitishere commented on #9
Please close the defect. It was coz of mongo DB port issue.
Sorry for the false message.

[2017-10-19 00:52] #9 closed

[2017-10-21 13:55] asitishere opened #10 "Question: iOS - Need more details on how we can run an application which is already installed"
First of all thanks a lot for developing such a nice project. It makes the life real easy to test mobile application.

I have few queries, i tried searching all documents but did not find enough information.

1: If I want to run already installed application , how can i do that ? As the framework need .apk or app to be present in /app folder ? Is there any way i can override the settings ?

e.g In

[2017-10-21 14:27] asitishere opened #11 "execution on physical iOS device throws error as "The executable contains an invalid signature.""
./gradlew runDistribution -DtestFeed="helloOptimusIos" -Dtags=@helloOptimus

{
  "executionDetails": {
    "appium_js_path": "/usr/local/bin/appium",
    "appium_node_path": "/usr/local/bin/node"
  },
  "testFeed": [
    {
      "belongsTo": "optimus",
      "runsOn": "**device**",
      "appDir": "app",
      "nativeApp":true,
      "optimusDesiredCapabilities": {
        "appiumServerCapabilitie

[2017-10-22 07:27] KrishnB commented on #11
@asitishere This is a valid exception since you are trying to run .app extension on physical device. Physical devices would require apps with .ipa extension.

[2017-10-22 07:32] KrishnB commented on #10
@asitishere you can pass any number of capabilities through your test feed. For the above capabilities you can modify your testfeed as below
[code]

[2017-10-23 02:49] asitishere opened #12 "Error on Mongo DB and then Failed to get adb devices from code , but from command line I able to see the devices."
13:46:35.787 [ERROR] [system.err] 108 [main] INFO org.mongodb.driver.cluster - No server chosen by ReadPreferenceServerSelector{readPreference=primary} from cluster description ClusterDescription{type=UNKNOWN, connectionMode=SINGLE, serverDescriptions=[ServerDescription{address=localhost:27017, type=UNKNOWN, state=CONNECTING}]}. Waiting for 30000 ms before timing out
13:46:35.791 [ERROR] [system.e

[2017-10-23 04:11] asitishere opened #13 ""optimus doctor" is not checking the Android path and tools , while Appium says not installed Optimus doctor says "Android platform tools is installed.""
Asits-MacBook-Pro:Library asit$ optimus doctor
ℹ Verifying if MongoDB is installed
✔ MongoDB is installed
ℹ Verifying if android platform tools is installed
✔ Android platform tools is installed.
ℹ Verifying if java is installed
✔ Java is installed.
ℹ Verifying if xcode is installed
✔ Found xcode on this machine.
ℹ Checking if FBSimctl is installed
✔ FBSimctl is installed
ℹ Verifying if gradle is

[2017-10-23 07:28] asitishere commented on #10
Thanks Krishna, will check and let you know

[2017-10-23 07:30] asitishere commented on #11
ok so you suggesting if i will pint a .ipa with a valid cert and developer profile . It will install the app...

In that case what will be the JSON structure  for iOS ?

[2017-10-23 07:32] asitishere commented on #12
Had a discussion with team and they working on it. Dependancy issue with new changes....
Will close once the code pushed and fix the report generation issue ( sent through a separate thread)

Kudos team...

[2017-10-23 07:34] asitishere commented on #13
This is not an issue....closing it. This problem comes if we have multiple Android-tools setup.
i.e When we install one instance via brew an another using Appium Studio.

[2017-10-23 07:34] #13 closed

[2017-10-23 07:35] asitishere commented on #10
Hi Krishan .....

if i will replace app with .ipa will that work ???

  "executionDetails": {
    "appium_js_path": "/usr/local/bin/appium",
    "appium_node_path": "/usr/local/bin/node"
  },
  "testFeed":[
    {
      "belongsTo":"user",
      "runsOn": "any",
      "appDir": "app",
      "nativeApp":true,
      "optimusDesiredCapabilities": {
        "appiumServerCapabilities": {
          "app"

[2017-10-23 07:52] asitishere commented on #10
thanks...worked like a champ.

[2017-10-23 07:52] #10 closed

[2017-10-23 09:53] KrishnB commented on #11
Yeah thats correct. The JSON structure would remain same. You will have to store the .ipa file under `app` folder and update the app name in test feed to `<appname>.ipa`

[2017-10-23 23:22] asitishere opened #14 "Issue: Android 8.0 SDK API 26 Failed to Execute - "Cannot read the Android OS version 8.0.0 , is the device valid?? ""
![image](https://user-images.githubusercontent.com/7847381/31917804-3f0b2d46-b8a5-11e7-8026-7ef7d4d2fa06.png)

0:17:53.952 [LIFECYCLE] [class org.gradle.internal.buildevents.TaskExecutionLogger] :fragmentationReport FAILED
10:17:53.952 [INFO] [org.gradle.execution.taskgraph.AbstractTaskPlanExecutor] :fragmentationReport (Thread[Daemon worker Thread 9,5,main]) completed. Took 0.005 secs.
10:17:53.9

[2017-10-24 01:32] asitishere commented on #12
Hi After the new dependancy change and applying the new template changes all working as expected.

Cheers
Asit

[2017-10-24 01:32] #12 closed

[2017-10-24 04:20] asitishere opened #15 "Run/Debug feature file from intellij not working."
I followed the wiki: https://github.com/testvagrant/optimusTemplate/wiki/How-to-run-features-from-intellij

scenario runner need Feature file Location, Module and Main class to start cucumber feature. I am attaching the screen short, I hope the Gradle task for the project remains “optimusSetup”

Please suggest what I am missing, without debug life is rocky.
<img width="520" alt="screen shot 2017-1

[2017-10-24 04:20] asitishere commented on #11
Thanks...

[2017-10-24 04:20] #11 closed

[2017-10-24 04:21] asitishere commented on #15
Once fixed please share the detailed steps.

[2017-10-24 04:33] asitishere opened #16 "runFragmentation - iOS multiple does not work for multi physical iPHONE connected to system."
![image](https://user-images.githubusercontent.com/7847381/31924926-9a9ac696-b8d0-11e7-897a-494c5583367a.png)

[2017-10-24 08:30] sukesh15 commented on #15
The problem seems to be with the Gherkin version you are using. Update to latest gherkin version and it should work. Also, there was a slight change needed in wiki (an extra step where you need to add a VM param for optimusSetup gradle task), that has been fixed. Let us know when it works for you.

[2017-10-24 08:32] sukesh15 commented on #15
Jetbrains plugin repository shows 2 results when you search for Gherkin. You need to pick up the latest here [https://plugins.jetbrains.com/plugin/9164-gherkin](url)

[2017-10-26 22:28] asitishere commented on #15
Thanks for extended help and support Sukesh.
Closing the Issue as its working now .

[2017-10-26 22:28] #15 closed

[2017-10-26 22:29] asitishere commented on #16
soon i will provide stack trace and log after debugging. Keeping the issue open as a placeholder.

[2017-10-26 22:30] asitishere commented on #14
As Android 8 not supported yet, we have to handle the exception  on attaching the device.

[2017-10-27 04:42] asitishere opened #17 "Issue: Cucumber reporter failed to embed screen capture to the final report"
On any issue failed to attach Image in the report.

[2017-11-23 07:36] #14 closed

[2017-11-23 07:36] #17 closed

[2017-11-23 09:50] asitishere commented on #17
Defect fixed in new version and works like champ

[2017-12-12 23:18] asitishere commented on #16
Need to test in detail and will provide better stack trace. For now closing the defect.

[2017-12-12 23:18] #16 closed

[2017-12-12 23:19] asitishere opened #18 "running a bunch of test in fragmented mode (2 devices) I am facing below issue frequently but same time in console if I query adb devices in console return comes as List of devices"
Before StartingSteps.setUp(Scenario)

Issue: When I am running a bunch of test in fragmented mode (2 devices) I am facing below issue frequently but same time in console if I query adb devices in console return comes as List of devices. This says some how optimus failed fetch List of attached evices.

Any thoughts

Stack Trace

java.lang.NullPointerException: Unable to Mark Device to 'Engaged'. Ch

[2017-12-28 04:22] asitishere opened #19 "Debug mode points to wrong device while connecting multiple devices with appiumServerCapability has "UUID" and "deviceName" specified."
Note: Please attach 2 devices to the system where we are debugging with the application installed.

    {
      "belongsTo": "XXX",
      "runsOn": "device",
      "appDir": "app",
      "nativeApp":true,
      "optimusDesiredCapabilities": {
        "appiumServerCapabilities": {
          "app": "UIRefresh.ipa",
          "platformName": "iOS",
          "automationName": "XCUITest",
          "u

[2018-03-12 00:58] arvind1017 opened #20 "ADB connection reset error when running gradle RunFragmention on a windows machine"
While setting up Optimus on a windows 7/10 machine, I am getting a connection reset exception, when the framework is trying to run the shell command "Wm size" through ADB.

[Optimus error log.txt](https://github.com/testvagrant/optimusTemplate/files/1801072/Optimus.error.log.txt)

Attached is the error log i get.

[2018-03-13 03:32] sarathsp23 commented on #20
I am seeing the same error , for my windows machine as well. It works fine on my mackbook. Also optimus setup or choco did not install the mongoDB correctly. I had to install it separately.

[2018-03-13 06:42] nishantverma commented on #20
We have added this as a bug and look into it. Thanks for giving it a try!

[2018-03-16 05:32] sukesh15 commented on #19
@asitishere Have your tried it recently, is it still happening for you with later versions.

[2018-04-03 01:03] arvind1017 commented on #20
team, did you get a chance to look into this issue?

[2018-04-03 02:43] KrishnB commented on #20
Can you try downgrading appium version once? To 1.7.0 and see if this happens?

[2018-04-03 03:18] arvind1017 commented on #20
Hi Krishna,

Thanks for the response. I tried on appium versions 1.6.3, 1.7.0 and 1.7.2, but no success.

Thanks
Arvind

[2018-04-03 03:29] KrishnB commented on #20
Thanks for the update Arvind. Will look into this and update you. Can I assume that this doesn't happen on Distribution mode?

[2018-04-03 04:03] arvind1017 commented on #20
Since I was not able to set it up on one mobile, didnt give a try to have the distribution mode. I would think that, its not a safe assumption to make

[2018-06-03 23:14] sarathsp23 opened #24 "IOS- processArguments with array of arguments is not accepted as capability"
When I pass processArguments with an array of argument, the same is not accepted as capability. Even though there is no exception thrown, but the process arguments are not passed to the application.
Looking at the code ,seems like the only capabilities that are being set are either Boolean, String or Integer
Below is how I am passing the processArguments

"appiumServerCapabilities": {
          "a

[2018-06-04 05:19] KrishnB commented on #24
Thanks for pointing this out @sarathsp23 will look into this and update you. As you said we might be missing out on processing arrays.

[2018-06-10 05:05] KrishnB commented on #24
@sarathsp23 this is resolved with the latest version of optimus. Please update your project optimus dependencies to below

### Optimus Dependency
[code]

### Optimus Gradle Plugin
[code]

[2018-06-10 05:09] KrishnB commented on #20
@arvind1017 @sarathsp23 We had reproduced this on a windows machine and were able to resolve it by downgrading appium version to 1.7.0 however there was an issue with appium log path on windows which is fixed in optimus version 3.0 below are the dependencies.

### Optimus Dependency
[code]

### Optimus Gradle plugin dependency
[code]

Let us know if this helps.

[2018-06-11 07:27] #19 closed

[2018-06-11 07:27] sukesh15 commented on #18
This was fixed in later versions. Please upgrade and try.

[2018-06-11 07:27] #18 closed

[2018-06-13 03:05] arvind1017 opened #25 "Enquiry: Is there a option to customise the Optimus reporting"
Hi Team,

I am using Optimus as a framework to automate the tests. The cucumber report that is generated is good but, my management wants reporting in a different format, and every one is interested in the "Cucumber Extent reporting" eg: https://github.com/email2vimalraj/CucumberExtentReporter.

1.  Is there a way to get a report in this format from Optimus?
2. How can I pass in the options while

[2018-06-15 05:04] asitishere opened #26 "Info : DeviceReleaseException is not preset inside "import com.testvagrant.monitor.exceptions" for controller.deRegisterSmartBOTs(smartBOTs);"
DeviceReleaseException is not available for export so on using Optimus 3.0.

Bit wandering how it work in optimusTemplate code preset in Git.

To handle this we have to embed in try catch block.
    try{
            controller.deRegisterSmartBOTs(smartBOTs);
        }
        catch(Exception e){
            logger.info(" import com.testvagrant.monitor.exceptions.DeviceReleaseException not preset "

[2018-06-15 05:19] asitishere opened #27 "com.fasterxml.jackson.databind.exc.MismatchedInputException: Cannot deserialize instance of `com.testvagrant.monitor.requests.Scenario[]` out of START_OBJECT token"
:fragmentationReport
updating build end time
updating build unique scenario count
com.fasterxml.jackson.databind.exc.MismatchedInputException: Cannot deserialize instance of `com.testvagrant.monitor.requests.Scenario[]` out of START_OBJECT token
 at [Source: (String)"{
  "timestamp" : 1529038637841,
  "status" : 500,
  "error" : "Internal Server Error",
  "exception" : "org.springframework.dao.Inv

[2018-06-19 05:45] KrishnB commented on #27
Hey Asit,

Tried reproducing this error, but no luck. Could you please check Gradle dependencies?

### Optimus Dependency

[code]

[2018-06-19 05:46] KrishnB commented on #26
This is weird though. Maybe an import issue, we haven't changed any package structure though.

[2018-06-19 05:47] #24 closed

[2018-06-19 05:47] #20 closed

[2018-06-19 05:54] KrishnB commented on #25
Hey Arvind,

Optimus has a gradle plugin that manages the build. You can find the project here https://github.com/testvagrant/optimusgradle. All cucumber level options are managed under respective tasks. eg: FragmentationTask and DistributionTask. Currently, the args are not exposed to any project level task, thus you will have to make changes in this project. Let us know if this helps.

**Update

[2018-06-26 23:38] asitishere opened #28 "Issue: Optimus debug not working with new build script as it may need few other VM option, the wiki page need modification"
Stack:

java.net.ConnectException: Connection refused (Connection refused)
	at java.net.PlainSocketImpl.socketConnect(Native Method)
	at java.net.AbstractPlainSocketImpl.doConnect(AbstractPlainSocketImpl.java:350)
	at java.net.AbstractPlainSocketImpl.connectToAddress(AbstractPlainSocketImpl.java:206)
	at java.net.AbstractPlainSocketImpl.connect(AbstractPlainSocketImpl.java:188)
	at java.net.SocksS

[2018-06-28 13:40] KrishnB commented on #28
Hi Asit, we have updated the wiki. You will need to add 'spinServices' task in edit configurations for a scenario like 'optimusSetup' task

[2018-06-29 01:34] asitishere opened #29 "Unable to make device 'Engaged" with Optimus 2.2.3"
Unable to make device 'Engaged" from code and all test failed . Where " adb devies " give list of devices back in terminal.

java.lang.NullPointerException: Unable to Mark Device to 'Engaged'. Check for device State using `adb devices`. If it is offline, kill the adb server `adb kill-server` and try again.
	at com.google.common.base.Preconditions.checkNotNull(Preconditions.java:900)
	at com.testva

[2018-06-29 01:40] asitishere opened #30 "Cannot parse content to class com.testvagrant.monitor.requests.Device because no content-type was present in the response and no default parser has been set."
09:10:35 -------- All devices and there status --------
09:10:35 4S99LV4SO7KNWKRG --- Engaged
09:10:35 Matching Device is Device{platform:"ANDROID", deviceName:"null", runsOn:"DEVICE", platformVersion:"null", udid:"4S99LV4SO7KNWKRG"}
09:10:35       [31mjava.lang.IllegalStateException: Cannot parse content to class com.testvagrant.monitor.requests.Device because no content-type was present in the

[2018-06-29 01:49] asitishere commented on #26
![screen shot 2018-06-29 at 11 47 42 am](https://user-images.githubusercontent.com/7847381/42068976-6ed4a75e-7b92-11e8-875d-a4d89a8d628e.png)

error: unreported exception DeviceReleaseException; must be caught or declared to be thrown
        controller.deRegisterSmartBOTs(smartBOTs);
                                      ^
Note: /Users/xatya/IdeaProjects/woolworths-app-automation/src/test/java/pa

[2018-06-29 01:50] asitishere commented on #26
@KrishnB @sukesh15  Please have a look.

[2018-06-29 01:50] asitishere commented on #30
@KrishnB @sukesh15  Please have a look.

[2018-06-29 01:51] asitishere commented on #28
@KrishnB Thanks a lot.

[2018-06-29 01:57] asitishere commented on #26
11:55:47.463 [INFO] [org.gradle.api.internal.tasks.compile.JdkJavaCompiler] Compiling with JDK Java compiler API.
11:55:47.597 [ERROR] [system.err] /Users/xatya/IdeaProjects/woolworths-app-automation/src/test/java/steps/StartingSteps.java:39: error: unreported exception DeviceReleaseException; must be caught or declared to be thrown
11:55:47.597 [ERROR] [system.err]         controller.deRegisterSm

[2018-06-29 01:59] asitishere commented on #26
`* Exception is:
org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':compileTestJava'.
	at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.executeActions(ExecuteActionsTaskExecuter.java:98)
	at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.execute(ExecuteActionsTaskExecuter.java:68)
	at org.gradle.api.internal.tasks.execution.SkipUpToDat

[2018-06-29 02:01] asitishere commented on #26
Not finding import com.testvagrant.monitor.exceptions.DeviceReleaseException; and which caused all drama.

[2018-07-02 09:57] asitishere commented on #29
closing the issue as fixed in 3.0 @KrishnB

[2018-07-02 09:57] #29 closed

[2018-07-02 10:00] asitishere commented on #26
public void deRegisterSmartBOTs(List<SmartBOT> smartBOTs) throws DeviceReleaseException {
<code>
}

can be embedded in try /catch

        try {
            controller.deRegisterSmartBOTs(smartBOTs);
        } catch (DeviceReleaseException e) {
            e.printStackTrace();
        }

@KrishnB
 closing the issue as its not creating any issue.

[2018-07-02 10:00] #26 closed

[2018-07-02 11:08] asitishere commented on #28
wiki updated...closing the issue

[2018-07-02 11:08] #28 closed

[2018-07-02 11:13] asitishere commented on #25
@arvind1017 Hi Arvind , Extent report use old cucumber and they have no plan as such to upgrade.
Lets talk offline and we will talk in detail about reporting .

I am planning to export data to elastic search and add kribana on top of it for reporting, will manage the indexing in elastic search. May be @KrishnB can suggest better and if i am not wrong already team working on Dashboard which is bett

[2018-07-02 11:14] asitishere commented on #30
with 3.0 the issue is not preset.

[2018-07-02 11:14] #30 closed

[2018-07-02 11:15] asitishere commented on #27
Thanks a lot @KrishnB

With 3.0 all good brother, closing the issue.

[2018-07-02 11:15] #27 closed

[2018-07-03 00:47] asitishere opened #31 "Exception in thread "main" java.lang.IllegalStateException: Cannot parse object because no supported Content-Type was specified in response. Content-Type was 'text/html;charset=iso-8859-1'."
10:39:28 Mongo uri mongodb://localhost:27017
10:39:28 Services URI http://localhost:8080/v1
10:39:28 Service commands [java, -jar, /Users/jenkins/.jenkins/workspace/MobileApp(Android)/libs/optimus-services-1.0.jar, --port=8080, --database=optimus, --uri=mongodb://localhost:27017]
10:44:31 :runFragmentation
10:44:32 Notifying build start
10:44:32 Builds Pathhttp://localhost:8080/v1/builds
10:44:34

[2018-07-03 01:00] asitishere commented on #31
Not an issue ...just a config change if port is used.

[2018-07-03 01:00] #31 closed

[2018-07-04 03:24] asitishere opened #32 "Optimus 3.0 Error in`com.testvagrant.monitor.services.ScenariosServiceImpl.notifyScenarioCompletion`"
[code]

[2018-07-09 00:39] asitishere commented on #32
Looks like issue with Optimus 3.0 or related files which failed to clean the driver instance and keep the device engage , this results launch the application again and remaining test skipped . So the device in this time retained the last known configuration ( I can say that because when the test start skipping the screenshot in the after hook is always the same till the build FAILED and all test e

[2018-07-17 04:22] sarathsp23 commented on #24
@KrishnB  Hi Krishna, thanks for the fix, but unfortunately I have not been able to upgrade to the latest version due to the exceptions which I believe Asit has already raised.

[2018-07-17 10:16] KrishnB commented on #24
Hi @sarathsp23 the issue was with duplicate scenario names in multiple feature files, this is resolved with the latest version `3.0.1` can you give it a try, below are the steps to update to latest version

[code]

Changes in this version

[code]

[2018-07-18 08:16] sarathsp23 commented on #24
@KrishnB  Hey , I updated the optimus and did not see an error, I will verify this bug and keep u update. Thanks Sarath

[2018-07-18 08:26] sarathsp23 opened #33 "Ability to execute tests at Feature level instead of scenario"
Currently the setup and teardown is done on scenario level , which approximately takes around 1-2 mins each per scenario.
In my case , say I run a test with around 20 scenarios, the actual test scenario execution takes around 5-7 mins , but another 8-10 mins goes into setup and teardown per scenario. Thats around double the actual test execution.

I have done a temporary workaround at my end by re

[2018-07-18 10:01] KrishnB commented on #33
Hi Sarath,

Optimus runs each scenario in its own container thus reducing the flakiness but trade-off is extra time of setup and teardown. Your suggestion sounds really helpful, we will definitely take it as part of our backlog for future releases.

[2018-07-19 04:04] sarathsp23 commented on #24
@KrishnB Hi, I tried with scenario which was present two seperate feature file, the tests in the original feature file got executed alright, but the second feature did not get executed at all.
It threw the below error
java.lang.IllegalStateException: Cannot parse content to class com.testvagrant.monitor.requests.Device because no content-type was present in the response and no default parser has b

[2018-07-19 04:43] KrishnB commented on #24
Hi @sarathsp23 can you please verify if your scenarios collection in db is updated with the field `featureFileName`. If not you can try on a clean db state with optimus-services 2.0

[2018-07-19 06:30] sarathsp23 commented on #24
@KrishnB I am not sure if I did correctly, but I tried by dropping the db . If that is not how it is supposed to be done. Can you please let me know the steps to following to clean the db state wth optimus 2.0?

[2018-07-19 14:33] KrishnB commented on #24
Hi @sarathsp23 these are the below steps as I mentioned before

[code]

I guess you will have to recheck on step4 I think there are old services running on 8090 or 8080 you can check it using `lsof -i:<portnumber>` and kill the existing services

[2018-07-23 11:01] sarathsp23 opened #34 "Error while trying to install optimus-cli with node v10.7.0"
I am getting errors while trying to install the optimus-cli with the latest node v 10.7.0

Please find the attached error
[optimusLog.txt](https://github.com/testvagrant/optimusTemplate/files/2219000/optimusLog.txt)

[2018-07-23 11:07] KrishnB commented on #34
Hi @sarathsp23 one of the optimus-cli dependency nodegit is not compatible with node v10.x,  suggest you to downgrade it to 9 for smooth installation.

[2018-07-23 23:39] sarathsp23 commented on #34
Thanks KrishnB , I downgraded the node to v9 and i was able to install optimus-cli

[2018-07-23 23:42] sarathsp23 commented on #24
I keep getting this exception below
Exception in thread "main" com.fasterxml.jackson.databind.exc.UnrecognizedPropertyException: Unrecognized field "timestamp" (class com.testvagrant.monitor.responses.BuildsResponse), not marked as ignorable (2 known properties: "links", "content"])
 at [Source: (String)"{
  "timestamp" : "2018-07-23T23:36:24.058+0000",
  "status" : 500,
  "error" : "Internal Serv

[2018-07-24 04:11] KrishnB commented on #24
Hi @sarathsp23, log says mongodb is not running. You will have to start manually if you are running it locally using `mongod`.

[2018-07-24 09:39] sukesh15 commented on #32
@asitishere can you please confirm if its working fine for you after the fix was done in 3.0.1?

[2018-07-24 10:14] sarathsp23 opened #35 "Optimus 3.0.1: Error"
Hi After upgrading the optimus, only the scenarios from first feature file gets executed, all the other features are skipped with below error
I have followed the upgrade process and manually started the mongod as well.
Also the other update I had to do was to upgrade the groovy to 2.4.11

java.lang.IllegalStateException: Cannot parse content to class com.testvagrant.monitor.requests.Device because

[2018-07-24 13:11] KrishnB commented on #35
Hi @sarathsp23 can you share db dump for verification with us on optimus@testvagrant.com

[2018-07-26 23:12] sarathsp23 commented on #35
Hi @KrishnB  I have sent you the dump file to the mentioned email. Please let me know if you need any other details.

[2018-10-27 17:48] chairulanwar opened #36 "Always failed to build after the first build (Unable to delete directory)"
I am new to Java and Optimus. After the first build of Optimus, I always got this error message when I run

[code]

I can't manually delete the file/folder and already tried all the methods in here https://stackoverflow.com/questions/36492904/unable-to-delete-directory-in-android-studio.

I'm using Windows 10, Android Studio 3.2 and IntelliJ IDEA 2018.2.5

[2018-11-16 13:35] Jaspreet23 opened #37 "Getting error "Unable to start WebDriverAgent session because of xcodebuild failure:" if run scripts together in a suite."
Hello,

My scripts work fine if I run them individually but if I am running these in a suite using tags, it fails due to the issue with WebDriverException error.

I am running scripts with command line
 ./gradlew runFragmentation -DtestFeed=iOS-qa -Dtags=@run

**ISSUE:**
org.openqa.selenium.WebDriverException: It is impossible to create a new session because 'createSession' which takes HttpClient,

[2018-11-19 05:32] Jaspreet23 commented on #33
Hi @sarathsp23  Can you share how you achieved doing the setup and tear down at the feature level. I am also facing the same issue and moreover in my case the IOS scripts doesn't execute in a suite as the webdriver agent gets installed and reinstalled after every scenario which causes the script to fail due "Xcode -Cannot create a session issue"

[2018-11-22 05:31] thenishant commented on #37
This means that java client cannot connect to the server because it does not listen on the given host/port. Make sure the server is listening there first, for example with `netstat` tool.

[2018-11-22 09:03] KrishnB opened #38 "Dummy issue for slack"

[2018-11-22 09:04] Karthik45 opened #39 "Dummy issue by karthik"

[2018-11-22 09:05] KrishnB commented on #38
Testing for slack integration. Works fine!!

[2018-11-22 09:05] #38 closed

[2018-11-22 09:05] KrishnB commented on #39
Testing for slack integration!! Works fine!!

[2018-11-22 09:05] #39 closed

[2018-11-22 09:09] KrishnB opened #40 "New issue with legacy github integration"

[2018-11-22 09:10] KrishnB commented on #40
Just a dummy comment

[2018-11-23 06:13] #40 closed

[2018-11-23 06:14] #32 closed

[2018-11-23 06:15] #35 closed

[2018-11-23 06:29] KrishnB commented on #36
This is a permissions issue. You will need to run tests as an admin. This issue could be specific to windows

[2018-11-23 06:29] #36 closed

[2018-12-06 23:50] sarathsp23 commented on #33
@Jaspreet23 I just did a dirty workaround, by not calling the register & de-register logic after every scenario. I am just calling that logic if a new feature is executed.
Also for iOS to not re-install for each sceanrio, just add the capability "noReset":true in the test feed json file

[2019-02-04 11:54] thenishant commented on #37
@Jaspreet23 Can you provide complete logs for this issue.

[2019-02-05 00:42] JasWoolieX commented on #37
Hello @nishantverma This issue got resolved for me. Thanks.

[2019-02-08 06:40] thenishant commented on #37
hey, @JasWoolieX can you let us know how did you fix this and then close this issue with the solution.

[2019-02-11 06:53] JasWoolieX commented on #37
Hello @thenishant,
From what I remember I resolved by downgrading my appium version to a beta version. I will get back to you if I can get more details but mostly it was around appium version not being compatible.

[2019-02-19 06:26] JasWoolieX commented on #32
Hello @sukesh15 I am also facing the same issue with
classpath "gradle.plugin.com.testvagrant.optimus:OptimusGradle:3.0.1"

The single scenario works fine, however if I run the tests in a suite it is failing in the 'Before' hook with error message:
java.lang.IllegalStateException: Cannot parse content to class com.testvagrant.monitor.requests.Scenario because no content-type was present in the res

[2019-02-19 06:28] JasWoolieX commented on #35
Hello, was this issue resolved? I am also facing the same issue with Optimus 3.0.1

[2019-02-19 06:35] KrishnB commented on #32
Can you please share your `build.gradle`

[2019-02-19 06:44] JasWoolieX commented on #32
[buildGradle.pdf](https://github.com/testvagrant/optimusTemplate/files/2878655/buildGradle.pdf)
Sure attached the build.gradle file as a pdf

[2019-04-04 18:43] pgtoopx opened #41 "is possible run test withoup app capabilites?"
Hello, I wanted to know if there is the possibility of doing the test without passing the application, nor the appdir to the feed.

[2019-04-17 04:26] JasWoolieX opened #42 "Facing issue with Parallel execution in Android. Getting different issues in different machines."
Hello,

I am facing different issues while executing the scripts in a suite on 2 different devices:
Different errors for the same run in different machines:
1. Unable to mark device as engaged, Check for device state using adb devices
2. java.lang.NullPointerException at Starting steps
3. An unknown server-side error occurred while processing the command. Original error: Could not proxy command to

[2019-04-22 06:12] KrishnB commented on #42
Could this be an issue with ANDROID_HOME path? Can you pls check if `adb` command throws any error.

[2019-04-23 00:14] JasWoolieX commented on #42
Hello,

The adb command shows the correct response and also recognises the 2
devices connected.
ANDROID_HOME is also set to the proper path as the same scripts run fine
with single device.
Kindly let me know if you need any further information.

Regards

On Mon, 22 Apr 2019 at 16:12, Krishnanand B <notifications@github.com>
wrote:

--

CAUTION: This email, links and files included in its transmiss

[2019-04-23 05:28] thenishant commented on #42
Hey @JasWoolieX Can you pls provide the full logs for
[code]

[2019-04-23 06:06] thenishant commented on #41
Hey @pgtoopx
So there are two ways to run the app on mobile
1. Have the app preinstall and don't use *app* capability( cannot use a newer version, same build has to used every time) but appPackage and appActivity.
2. Or have the appdir in your feed and use it.

[2019-04-30 02:37] sarathsp23 opened #43 "Unable to debug or run scenario using Intellij"
I followed the steps as mentioned in wiki to execute test using intellij but I am getting the below exception

Testing started at 12:31 PM ...
/Library/Java/JavaVirtualMachines/jdk1.8.0_121.jdk/Contents/Home/bin/java -DtestFeed=OpalTravelAppAndroid -DrunMode=Fragmentation -Dorg.jetbrains.run.directory=/Users/sarath/workspace/tfnswAppium/src/test/resources/features "-javaagent:/Applications/Intelli

[2019-04-30 02:46] KrishnB commented on #43
@sarathsp23 looks like documentation is missing a step. You will have to spin services before running from intellij hence connection refused exception. Will update the document accordingly. For now you can run `gradle spinServices` in a background terminal and retry.

[2019-04-30 05:15] sarathsp23 commented on #43
@KrishnB  I did add that as a gradle task in Configuration, so are you saying that gets ignored and I have to still do it through terminal?

[2019-04-30 05:26] sarathsp23 commented on #43
@KrishnB I tried what you said , but I don't think it kept the services running, unless I am not doing it right.

![image](https://user-images.githubusercontent.com/14820571/56942116-285f2c80-6b5c-11e9-9c5e-80a0c6461d9d.png)
This my configuration
![image](https://user-images.githubusercontent.com/14820571/56942130-4331a100-6b5c-11e9-9c29-36472902ea97.png)

[2019-04-30 05:32] KrishnB commented on #43
Can you please check if the service is running on `8090` port

[2019-04-30 23:03] sarathsp23 commented on #43
It has java running in that port

[2019-05-20 18:54] Balhindi opened #44 "Question: IS there a method I can run that can give me the UDID of the device that the test is running on?"
I want to get the UDID of the device in the before step. Is there an easy way to do this?

Thank you.

[2019-05-20 19:19] Balhindi opened #45 "Question: In the report for the completed tests is there a way that we can Custom name the device UDID?"
![Untitled](https://user-images.githubusercontent.com/17076818/58046134-78edf800-7b12-11e9-94cd-ef0210284b26.png)

In here I want to see if I can change that Device name to something more readable? For example one of the devices is connected to a debug board and uses the IP address 192.168.1.100 and instead of calling it that it just says "Emulator_100".

Thank you.

[2019-05-21 03:21] KrishnB commented on #44
You can get udid from the `SmartBot` object. Please refer to base steps to get a smartbot.

[2019-05-21 03:23] KrishnB commented on #45
This was done for readability purpose, we had masked ip address with custom name

[2019-05-21 03:24] KrishnB commented on #45
_100 is taken from 192.168.1.100.

[2019-05-21 19:54] Balhindi commented on #36
How do you run tests as admin? Sorry about all the questions.

[2019-05-21 20:14] Balhindi commented on #45
Can you point me to the Class that is in Optimus where I can choose if I want a custom name added? Thank you.

[2019-05-21 20:42] Balhindi opened #46 "Question: If I run a Synchronized method in my test, will the test wait for one method to be done?"
Please help me understand how this work. I have a method that I want to run on each device and they can't run on each of the other devices while in parallel. How can I achieve this while running the devices in a Fragmentation setup?

Any thoughts thank you. I have tried the synchronized method but that doesn't seem to do the job, the method I synchronized is not locked, and is running on two devic

[2019-05-21 20:43] Balhindi commented on #44
Thank you closing.

[2019-05-21 20:43] #44 closed

[2019-05-23 15:08] Balhindi opened #47 "Question:Android I have devices that I want connected to the host, but don't tests to run on it how do I acheive this"
sorry last question.

I am doing some tests where I am pairing the device via Bluetooth to another ADB device that is running the original test. Is there a way to stop or exclude one device from running the original test?

Thank you.

[2019-05-24 04:54] KrishnB commented on #47
We cannot exclude a specific device but you can run your tests with below filters in place
* By passing UDID - Tests will run only on that device
* By passing device type, Device/Emulators/Simulator - Tests will run only on that type
* By passing O.S version - Tests will run on a specific version.

Please try with one of these filters that can exclude your device.

[2019-05-28 15:35] Balhindi commented on #47
I added in my before step by passing a UDID to "device" String and said if(device.equals.("Xdevice"){System.exit("0");

but the tests are still running on that particular device. Any ideas on the correct way to do this?

Thank you.

[2019-05-28 23:56] sarathsp23 opened #48 "Question: Proxy server similar to charles?"
Hi,
This is not particular to optimus, but thought it would check with you all to see if there are any good alternatives to Charles proxy for re-writing api request and responses?
I have been using charles proxy for the same so far, but it is not easy to programmatically modify the request on runtime or re-write the response code as per the test scenarios.

There is mitmproxy-java which does allow

[2019-05-29 08:24] thenishant commented on #37
Closing as fixed by downgrading the Appium version to beta

[2019-05-29 08:24] #37 closed

[2019-05-29 09:12] #41 closed

[2019-05-29 18:38] #45 closed

[2019-06-06 11:29] thenishant commented on #48
Hey @sarathsp23 Can you tell us the use case for this one, so that we can help you better. 🙂

[2019-06-07 00:13] sarathsp23 commented on #48
Hey @thenishant ,
My app makes few API calls , currently I use charles to intercept and modify the request or response, to see the behaviour in the app.
For example:
Say I want to verify that correct error messages is displayed in the app for different error codes.
And currently to do this, I use charles proxy (I have to pre-setup for respective tests).

But I want to modify the request or respons

[2019-06-11 20:21] Balhindi commented on #47
Please help, I want to use this Framework, but I will be using something else if I can't get a good answer on how to disconnect phones based on UDID, I tried a System Exit, and it still tried to do the test on the phone.

Any ideas?

Thank you.

[2019-06-12 04:21] KrishnB commented on #47
Hi, sadly we don't support this feature yet and is not a general use case for Optimus. I fear we may not able to help you at this point of time. Do let us know if we can help you further.

[2019-06-17 06:58] sarathsp23 commented on #48
@thenishant  Hey Nishant, Did you get a chance to go through the use case?

[2019-07-25 22:57] sarathsp23 opened #49 "The framework gets stuck and sits Idle"
I have noticed that many times when something unexpectedly fails , the framework just sits idle and there is no-way to safely exit the execution and also since no report is generated I loose all the execution data prior to the failure.

[2019-10-15 12:33] suhasini-Ravi opened #50 "Question: Running tests parallel on both the platforms at the same time"
Hi Team,

Thank you for the framework which is currently running parallel on the iOS and Android independently.

My requirement is to run the tests parallel on both iOS and Android at the same tinme using a single testfeed.

Could you please let me know is this feature is available currently, and if available could you help me in achieving.

[2019-10-15 12:44] thenishant commented on #50
Hey @suhasini-Ravi
Running tests parallel on both the platforms at the same time via a `single Testfeed` is not supported as now.

You can only specify one type of Platform either `Android` or `iOS` within a single file.

[2019-10-15 12:46] suhasini-Ravi commented on #50
Hi @thenishant

Thank you for your prompt response. Is there any chance to support for the feature in the next or future releases of Optimus.

[2019-10-15 12:53] thenishant commented on #50
I don't think we have this in our roadmap at least for next release few releases, as this is directly dependent on appium.
You cannot have two `platformName` key with multiple values.
Maybe we will work on this.

[2019-10-15 12:56] suhasini-Ravi commented on #50
Thank you...

[2019-10-15 12:56] #50 closed, assigned to nobody

[2019-10-15 13:28] suhasini-Ravi opened #51 "iOS - Nothing is running or the framework is idle after the tests ran successfully"
Hi Team,

The framework is not completing the task for iOS and is stopping after successfully running the tests and also report is not generated.

Its getting stopped at "> Building 83% > :runFragmentation" and not getting exited .

Kindly, help coz im not able to proceed further with the automation

Please find the logs below.

MacBook-Pro:Core_BDD_Framework_Mobile $ ./gradlew runFragmentation -D

[2019-10-16 04:51] thenishant commented on #51
Hey, @suhasini-Ravi this is a known issue and we are currently working on this.
Expect the fix in the upcoming release.

[2019-10-16 07:20] suhasini-Ravi commented on #51
Hi @thenishant , thank you for the info.
Is there any workaround for this where the test execution can be completed without force quitting.

Thanks in advance for the help

[2019-10-16 11:02] thenishant commented on #43
Hey @sarathsp23 What's the current state on this ?? Are you still facing this issue ??

[2019-10-17 04:53] thenishant commented on #51
Hey @suhasini-Ravi, as of now there is no workaround and the only thing which can be done here is to `retrigger/rerun` the tests.

[2019-10-17 13:45] suhasini-Ravi commented on #51
Hey @thenishant
The tests are running fine and getting executed completely when I run the iOS tests parallel.

Thank you...

[2019-10-21 03:12] sarathsp23 commented on #34
@KrishnB @sukesh15  Hi ,can I upgrade the node version once I have installed optimus-cli?
For appiu, 1.15.0 , i need to update node to latest, else I cannot execute my test because of the error for Path not being string

[2019-10-21 05:21] thenishant commented on #34
hey @sarathsp23
Once you have installed `optimus-cli`, you can always upgrade the node to the latest version.

[2019-10-21 08:33] adityabhargav opened #52 "Kindly produce a documentation on how to produce the fragmentation test runner in multiple devices.."

[2019-10-21 09:09] thenishant commented on #52
Step 1: Connect devices(Android or IOs) or create an Android Emulator.
Step 2: Open your favourite terminal and navigate to the project folder.
Step 3: Check for Android Devices or Emulators by running
Run this command -> `gradle runFragmentation -DtestFeed=<Your test feed file> -Dtags=@<your tag>`

There is no specific documentation to run tests on fragmentation mode... It's just a single command

[2019-10-22 05:41] sarathsp23 commented on #34
@thenishant Thanks , will do that then

[2019-10-29 06:33] thenishant commented on #49
Closing this, duplicate here: https://github.com/testvagrant/optimusTemplate/issues/51

[2019-10-29 06:33] #49 closed

[2019-10-30 12:13] suhasini-Ravi opened #53 "Question: Elements mapping for both iOS and Android in the same project"
Hi team,

In my project, the application has both iOS and Android platforms, for the same app.
Can you please let me know on how to have the elements JSON file for both iOS and android elements.

[2019-10-30 12:22] krishnanandb-rapido commented on #53
For Optimus, the root context is app name so if your app names say app-android, and app-ios, then you can structure your elements as
- elements
   - app-android
      - home.elements
   - app-ios
      - home.elements

[2019-10-30 13:56] suhasini-Ravi commented on #53
Hey Krishna,
Thank you for the reply...
I have created the below json file under resources - >elements and named it as homescreen.json

{
  "apps": [
    {
      "app": "wmt_dev.ipa",
      "elements": [
        {
          "name": "lo_payments_btn",
          "screen": "homescreen",
          "identifier": "id",
          "value": "fwo_header_label_action",
          "waitFor": "visibility"

[2019-10-30 14:02] krishnanandb-rapido commented on #53
Hey, you JSON format is invalid. `app` is an invalid key in elements file. App name has to be a directory name as mentioned in the previous comment.

[2019-10-30 14:46] krishnanandb-rapido commented on #53
Can you update the following file `/src/test/resources/META-INF/Optimus.yaml`. Default extension is `elements` please update it to `json`

[2019-10-30 15:53] suhasini-Ravi commented on #53
Changed the belongsTo field and now getting the different error as below.

When user on OverviewPage screen tap on lo_payments_btn                           # GenericSteps.consumerOnScreenPerformsActionOnElement(String,String,String,String)
      java.lang.NullPointerException
        at com.testvagrant.stepdefs.finder.ElementStore.lambda$find$0(ElementStore.java:44)
        at java.util.stream.Re

[2019-10-31 14:16] suhasini-Ravi commented on #53
Closing the issue.

Thank you again for resolving the issue

[2019-10-31 14:16] #53 closed, assigned to nobody

[2019-11-01 08:29] alohageck0 commented on #51
@suhasini-Ravi how were you able to workaround this? Can you share your environment? I am facing this issue running tests in Distribution mode on one machine, although on my local laptop it runs fine

[2019-11-01 09:17] suhasini-Ravi commented on #51
@alohageck0, there is no workaround for this and I'm facing the same issue even when running iOS in parallel, and since the tests are not getting completed there is no generation of the report :(

[2019-11-05 07:08] thenishant commented on #43
Document to run the tests from IntelliJ:
https://github.com/testvagrant/optimusTemplate/wiki/How-to-Run-or-Debug-features-from-intellij

[2019-11-05 07:08] #43 closed

[2019-11-21 12:08] sarathsp23 opened #54 "deviceName & platformVersion not being updated"
Hi After upgrading my iphone OS to 13.2.3 , I started getting the following error. I am using MacOS Catalina

Unable to create a new remote session. Please check the server log for more details. Original error: An unknown server-side error occurred while processing the command. Original error: The platform version 'null' should be a valid version number
Build info: version: '3.141.59', revision: '

[2019-11-21 12:15] thenishant commented on #54
Hey @sarathsp23
You just need to provide a dummy platformName and platformVersion
[code]

[2019-11-22 02:52] #54 closed, assigned to nobody

[2019-11-22 02:52] sarathsp23 commented on #54
@thenishant I had tried that but it gave my some other exception. The issue was with device support files missing for me. Once I updated the device support file for xcode, it worked fine. I will close this bug . Thanks

[2019-11-25 03:12] sandeepmosali23 opened #55 "iOS - cannot run tests on iPhone XR"
I am unable to run tests on iPhone xr (only) but able to run tests on other iOS devices.

**Error details:**

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':runFragmentation'.

Any idea what would have happend?

[2019-11-25 04:38] vinaykumarvvs commented on #55
Hi @sandeepmosali23 could you please confirm whether the device is listing or not when you execute this `xcrun instruments -s devices` command in terminal.

[2019-11-25 04:53] sandeepmosali23 commented on #55
@vinaykumarvvs when i run `xcrun instruments -s devices ` device is listed on the terminal

[2019-11-25 05:08] vinaykumarvvs commented on #55
ok @sandeepmosali23. Thanks for confirming. Will check and let you know.

[2019-11-25 05:34] vinaykumarvvs commented on #55
@sandeepmosali23 Looks like there is an issue with the UDID. The UDID for older devices is 40 characters long and for new iPhone devices, it is 25. I'm suspecting this is the reason why the device is not identified/picked for the automation.

[2019-11-25 05:38] vinaykumarvvs commented on #55
@sandeepmosali23 meanwhile could you please try this https://github.com/appium/appium/issues/11448#issuecomment-427524554 and let us know whether it is fixed or not.

[2019-11-25 22:51] sandeepmosali23 commented on #55
@vinaykumarvvs above mentioned issue was closed last year( latest comment is not related issue im facing). Also i was able to launch app and find locators using appium UI.

[2019-11-26 02:23] vinaykumarvvs commented on #55
@sandeepmosali23 ok we will look into the issue and get back to you. Thanks for raising it.

[2019-12-06 03:15] sandeepmosali23 commented on #55
@vinaykumarvvs any update on this issue?

[2019-12-06 04:07] vinaykumarvvs commented on #55
@KrishnB could you please follow up on this issue.

[2019-12-10 08:22] #52 closed, assigned to nobody

[2019-12-10 08:24] #47 closed

[2019-12-11 16:24] suhasini-Ravi commented on #42
Hey @thenishant, @KrishnB

Even Im facing the same issue when running the tests parallely on Android devices.

The same tests are working fine when running on a single device.

The errors are different for every run

[2019-12-13 10:38] thenishant commented on #42
Hey @suhasini-Ravi  logs will be helpful here, to sort this thing out.

[2019-12-17 09:55] suhasini-Ravi commented on #42
Hey @thenishant , please find the logs attached below.

The same test is working fine when im running on a single device.

It is throwing different errors for each execution.

Kindly look into the issue

**Logs:**

[Error_Android_Parallel.docx](https://github.com/testvagrant/optimusTemplate/files/3972561/Error_Android_Parallel.docx)

[2019-12-18 09:35] thenishant commented on #42
@suhasini-Ravi the logs state that
1. it is unable to take a screenshot that could be a problem with ADB shell or device itself.
2. Socket hang up: potential solutions could be:
   a. Update the java-client library
   b. make sure it's not overriding by the selenium API

[2019-12-18 09:50] suhasini-Ravi commented on #42
Hey @thenishant

But the same test works well when I ran on single android device.

The issue is not same all the time when I ran the test.

Some times its throwing null pointer exceptiuon at Starting steps and some times element could not be located.

Not sure what was the issue, since it is working fine when I ran on single device

[2019-12-18 09:52] thenishant commented on #42
Try changing automationName to "UiAutomator1" instead of "UiAutomator2"

[2019-12-18 10:08] suhasini-Ravi commented on #42
Even that didn't worked...

[2019-12-18 10:23] thenishant commented on #42
This is expected ^^

Can you provide details about:
Appium version, java-client, optimus-version

[2019-12-18 10:41] suhasini-Ravi commented on #42
Though the test was running very slowly with UiAutomator1.

This is expected ^^

With the above, I know that UiAutomator1 is very slow and very flaky compared to UiAutomator2.

1. Appium Version: 1.15.1
2. Java Version: 1.8.0_221
3. Optimus Version: 1.5.5

[2020-01-02 10:29] suhasini-Ravi commented on #42
@thenishant, hey now it is working fine with the new Optimus version 3.1.2.

Thank you for the fix :)

Hence closing

[2020-01-02 10:32] #42 closed

[2020-01-03 20:26] alohageck0 commented on #51
facing the same issue in 3.1.2

[2020-01-03 21:26] alohageck0 commented on #51
I found the root cause for my issue - it was jdk version. Jenkins node had Azul Zulu 8.0.222, but locally I am using AdoptOpenJDK 8.0.232.j9.
When I switched to AdoptOpenJDK the issue not reproducible anymore

[2020-01-13 09:15] thenishant commented on #55
Hey @sandeepmosali23
this has been fixed in the latest release of optimus.
https://github.com/testvagrant/optimus/releases/tag/v3.1.3

[2020-01-31 05:10] sarathsp23 opened #56 "Enquiry: Integration with Jenkins"
Hi ,
Can I integrate the project with Jenkins and have the reports generated and published for Jenkins or any CI/CD tool?

[2020-02-01 13:35] KrishnB commented on #56
Yes you can, please use the gradle command in the yml file or job command `./gradlew runDistribution - DtestFeed=<yourtestfeedname>`

[2020-02-04 23:01] sarathsp23 commented on #56
The issue have been noticing is that (this is also for the local instance as well), if the Mongo db is not up and running , it is not able to start the mongo and the framework just gets stuck indefinitely.

[2020-02-17 03:27] NitinKanawalli opened #57 "Unable to install - optimus-cli with node v9.0.0"
I am getting errors while trying to install the optimus-cli

details of the CLI:

**$ nvm list**
->       v9.0.0
       v10.15.0
       v10.15.3
       v12.13.1
         system
default -> 10.15.0 (-> v10.15.0)
node -> stable (-> v12.13.1) (default)
stable -> 12.13 (-> v12.13.1) (default)
iojs -> N/A (default)
unstable -> N/A (default)
lts/* -> lts/erbium (-> N/A)
lts/argon -> v4.9.1 (-> N/A)
lts/b

[2020-02-17 05:26] thenishant commented on #57
Hey @NitinKanawalli
Optimus-cli currently supports node version 8.4.0

You need to downgrade it to node v8.

[2020-02-17 05:34] NitinKanawalli commented on #57
@thenishant , Yeah i was ale to resolve this with - v8.11.1, but still mongodb is not getting installed

[2020-02-17 05:41] thenishant commented on #57
Formula MongoDB has been removed from homebrew-core. Check pr-43770 from homebrew-core

Try install installing MongoDB community edition.

[code]

[2020-02-17 21:07] NitinKanawalli commented on #57
@thenishant Thanks... it worked... appreciate your quick response. Is it documented??

[2020-02-18 05:15] thenishant commented on #57
No not yet

[2020-02-18 05:15] #57 closed, assigned to nobody

[2020-02-18 05:16] #55 closed, assigned to nobody

[2020-04-22 13:37] sarathsp23 opened #58 "Unable to execute multiple features"
For some reason, I am not able to execute the tests from across different feature files, I notice that in the log at the start it says feature size as 2 but pool size as 1.
I am attaching the log, in this instance I had 1 each test scenario from different feature file. But only one got executed.
[vagrant.txt](https://github.com/testvagrant/optimusTemplate/files/4516424/vagrant.txt)

[2020-07-08 12:12] falermus81 commented on #57
Hi, I try to downgrade to Node 8, but it is not available anymore. My Node now is 14. Is it still not compatible with Optimus?

[2020-07-08 14:04] thenishant commented on #57
It is still available. Try searching the official node website

[2020-07-09 02:38] falermus81 commented on #57
Yes, it available on the website, but I cannot search it using brew. Only version 10 and 12 available using brew way

[2020-07-09 04:18] KrishnB commented on #57
@falermus81 if you are getting started with Optimus for the first time, suggest you try the latest one here => https://optimus.now.sh/docs/getting-started.

[2020-07-13 13:03] sarathsp23 opened #59 "Not able to pass a system properties"
Hi,
I wanted to utilise system properties to set some environment, but it always is null in my java code. I wanted to check if I had to use a system property and pass it through the command line for the code to utilise it.
Anyway you could help me ?
Thanks
Sarath

[2020-07-15 10:16] KrishnB commented on #59
Hi @sarathsp23 I fear this looks like a bug in Optimus, will look into it.

[2020-11-10 22:01] sarathsp23 opened #60 "Saucelab integration"
I am not able to execute tests on saucelab
I added this under executionDetails in the json, do I need to do anything else as I can't find much documentation on this. Also is sauce lab the only cloud option or is there any other cloud services I could integrate my tests?
 "executionDetails": {
    "appium_js_path": "/usr/local/bin/appium",
    "appium_node_path": "/usr/local/bin/node",
    "sauce":

[2020-11-25 03:00] MohsinWaqas31 commented on #31
what it the change. please let me know

[2021-01-26 18:35] suhasini-Ravi commented on #51
@thenishant , @KrishnB

Any update on this issue?

 I'm facing this issue when I try to run the iOS tests by connecting both iOS and Android devices at the same time.

But when I run Android tests by connecting both platform devices, the report is generated and also completing the tests.

[2021-11-30 21:39] vinitsan83 opened #61 "Regarding support"
In our company we are thinking to give it a try this library since it provides beautiful automation dashboard to monitor test result.

Curious to know if we use this library and need any support how quickly we can get the response back ?

This is a multi billion company and if observed issue not resolved in short time it will impact company revenue so want to make sure ahead of time before we use